<footer id="site-footer" role="contentinfo" class="header-footer-group">
        <div class="inner">
            <div class="col-1">
                <h3>About me</h3>
                <p>Erik is a father, husband, techno lover and citizen of the world. I have more than 12 years of experience in web devlopment. Human Resource people call me a Full-Stack PHP Developer. I am expert in E-Commerce, Website-Performance, Backend PHP Development as well as <abbr title="Customer Relationship Management">CRM</abbr> & <abbr title="Enterprise Resource Plannin">ERP</abbr> Implementations. <a href="">Get a quote</a> on the IT Consulting services.</p>
            </div>
            <div class="col-2">
                <h3>Contact</h3>
                <address translate="no" typeof="schema:PostalAddress">
                    <span property="schema:name">Erik Pöhler</span><br>
                    <span property="schema:addressLocality">Greater Berlin Area</span>,
                    <abbr hidden="hidden" title="Massachusetts" property="schema:addressRegion">B</abbr>
                    <span hidden="hidden" property="schema:postalCode">10115</span> <abbr hidden="hidden" property="schema:addressCountry">DE</abbr><br />Germany<br />
                    Email: <a class="underline contact-url" href="mailto:sayhello@erikpoehler.com?subject=Hello">sayhello@erikpoehler.com</a><br />
                    Slack: <a class="underline" href="//teuton-digital.slack.com">Teuton Digital</a>
                </address>
                
                <h4>Privacy & Security</h4>
                <p>This website respects your privacy, therefor no visitor is tracked nor any information stored. It is 100% compliant with <a title="General Data Protection Regulation GDPR" href="https://gdpr-info.eu"><abbr title="General Data Protection Regulation GDPR">GDPR</abbr></a> regulations. This website uses a SSL certificate for maximum security.</p>
            </div>
            <span class="clearfix"></span>
            <div class="section-inner small-print">
                <div class="footer-credits">
                    <p class="footer-copyright"><strong><small>©</small> 2020 <a href="http://localhost:8001/">{{ option.blogname }}</a></strong></p>
                    <p class="powered-by-wordpress"><a href="https://wordpress.org/">Powered by WordPress</a></p>
                </div>
                <a class="to-the-top" href="#site-header">
                    <span class="to-the-top-long">To the top <span class="arrow" aria-hidden="true">↑</span></span>
                </a>
            </div>
        </div>
    </footer>