<header id="site-header">
    <h1 hidden="hidden">{{ option.blogname|raw }}</h1>
    <nav>
        <ul>
            <li class="active" data-active="true"><a href="/"><span>Blog</span></a></li>
            <li><a href="/about"><span>About</span></a></li>
            <li><a href="/contact"><span>Contact</span></a></li>
        </ul>
    </nav>
</header>