.entry {
    h2 {
        text-decoration: none;
        text-transform: none;
        font-size: $h3-font-size;
        letter-spacing: 0;
        line-height: 1.25em;
        font-family: 'Univers LT W01_65 Bold1475968';

        @include media ('<tablet') {
            font-size: 27px;
        }
    }
    
    #content {
        position: relative;
        z-index: 2;
        padding:0;

        @include media ('<tablet') {
            background: $white;
        }

        .container {
            position: relative;
            z-index: 1;

            &:before,
            &:after {
                position: absolute;
                content: '';
                background: $white;
                z-index: -1;

                @include media ('<tablet') {
                    display: none;
                }
            }

            &:before {
                right: 33.33%;
                top: -70px;
                bottom: 0;
                left: -126px;
                margin-right: -15px;
            }

            &:after {
                left: 66.66%;
                top: 0;
                bottom: 0;
                right: -126px;
                margin-left: 15px;
            }
            
            .row {
                max-width:600px;
                margin: 0 auto;
                padding-bottom: 30px;
            }
        }
    }
    
    /* content elements */
    figure.pullquote {
        position: relative;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
        padding-top: 125px;
        border-top: 1px solid #e4e4e6;
        border-bottom: 1px solid #e4e4e6;
        
        &:before {
            position: absolute;
            top: 115px;
            content: 'â€';
            text-align: center;
            font-size: 120px;
            line-height: 0;
            margin-left:-25px;
        }
        
        blockquote {
            color: #2d3134;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.65em;
            margin-top:0;
            margin-bottom:0;
            padding:0;
            text-align: center;
            text-transform: uppercase;
        }
        
        figcaption {
            padding:15px 0 125px 0;
            text-transform: uppercase;
        }
    }
    
    div.youtubeVideo {
        padding-bottom: 30px;
        position: relative;
    
        div.video-description {
            background: rgba(255, 255, 255, .8);
            padding: 30px 50px 30px 50px;

            h3 {
                font-size: 24px;
                margin-bottom:10px;
                line-height:1.15em;
            }

            img {
                float:left;
            }

            > div {
                margin-left: 128px;
                max-width: 500px;
            }
        }
    }
    
    div.youtubeVideo .hold {
        position:absolute;
        top:0;
        left:0;
    }
    
    div.share {
        margin: 65px 0 95px 0; 
    }
    
    div.share .btn {
        margin: 0 30px 0 0; 
    }
    
    .intro-text {
        width:800px;
        max-width:800px;
        margin: 0 -100px 50px -100px;
        top:0;
    }
    
    .comments {
        width: 700px;
        margin: 0 auto;
        
        h4 {
            font-size: 22px;
            text-transform: uppercase;
            padding: 0;
            margin: 0 0 75px 0;
        }
        
        dl {
            padding:0 0 0 0;
            margin-left:-100px;
        }
        
        dl dt {
            position:relative;
            padding-left:100px;
        }
        dl dd {
            margin:0 auto;
            display: block;
            color: #2e3033;
            margin-bottom:65px;
            padding-bottom:65px;
            padding-left:100px;
            padding-right:100px;
            border-bottom:1px solid #eaeaea;
        }
        
        dl dt img {
           border-radius: 50%;
           position:absolute;
           left:0;
           top:-18px;
        }
        
        span.commentator {
            color: #2e3033;
            text-transform: uppercase;
            margin-right:25px;
        }
        
        span.comment-time {
            color: #2e3033;
            text-transform: uppercase;
        }
        
        div.reply {
            text-align: center;
            margin-bottom: 190px;
        }
    }
}